/* COLORS
firebrick(red): #bb162b #c13
crimson: #fb2d2d #f33
whitesmoke: #f5f5f5 #fff
white: #fff
black #000
*/

/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Staatliches&display=swap');

/* CSS Reset =========================== */
body,
nav,
main,
section,
footer,
article,
form,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ================= */
html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #000;
	/* font-size: 1.4rem;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif; 
	font: size/line-height family;    */
	font: 1.4rem/1.6 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Staatliches', cursive;
}
h1, h2{
	font-size: 5rem;
}
h3 {
	font-size: 2.5rem;
}
h4 {
	font-size: 2rem;
}

/* Default Structure =================== */
.wrapper {
	margin: 0 auto;
	width: 114rem;
}
a, button {
	cursor: pointer;
}

/* Clear The Floats */
.clearfix::after {
	content: "";
	clear: both;
	display: block;
  }

footer::after{
	content: "";
	display: block;
	clear: both;
}

/* Header =============================================================== */
/* Social Media  ======================*/
#social-media {
	background-color: #bb162b;
	padding: .5rem 0;
}

#social-media li {
	display: inline-block;
	border: .2rem solid #fff;
	/* this makes the border a circle */
	border-radius: 50%;
	width: 3.6rem;
	height: 3.6rem;
	margin: .5rem;
	/* this centers the icons inside their containers/borders */
	text-align: center;
	padding: .7rem;
}

/* social media icons */
#social-media ul li img{
	height: 1.4rem;
	width: auto;
}

/* hover social media icons */
#social-media li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/* This targets the first anchor tag following the ul (Booking Now) */
#social-media ul li + a {
	color: #fff;
	background-color: #fb2d2d;
	width: 15rem;
	float: right; 
}

/* Logo: "Yoauto"  ===================================== */
#logo {
	background-color: #f5f5f5;
	text-align: center;
}

/* Navigation Bar */
/* center the elements inside the nav */
nav{
	text-align: center;
}
nav ul li {
	display: inline-block;
	padding: 1rem 2rem;
}

/* nav bar hover decoration */
nav ul li:hover {
	text-decoration: solid underline #bb162b;
}

/* Breadcrumb  */
#breadcrumb {
	background-image: url(https://images.unsplash.com/photo-1602710383198-67873f6ab200?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #fff;
	height: 24.5rem;
}

/* Home / About */
#breadcrumb li {
	display: inline-block;
	font-size: 1.6rem;
}

/* "About" */
#breadcrumb li:nth-last-of-type(1) {
	color: #bb162b;
}

/* Hover over Home in the breadcrumb */
#breadcrumb li:nth-of-type(1):hover {
	color: #fb2d2d;
}

/* Adds the "/" between Home & About */
#breadcrumb ol li:nth-child(1):after {
	content: "/";
	padding-left: .5rem;
	color: #fff;
}

/* MAIN =========================================================================================== */
main {
	margin: 0 auto;
	width: 114rem;
}

#about-us{
	width: 55.5rem;
	float: left;
}

#about-us h3 {
	color: #fff;
	background-color: #bb162b;
	font-size: 2.5rem;
	width: 10rem;
	height: 4rem;
	text-align: center;
	/* this adds a curve to the top right corner of the border */
	border-radius: 0 2rem 0 0;
	padding: .5rem;
}

#about-us a {
	color: #fff;
	background-color: #bb162b;
	/* this adds rounded corners */
	border-radius: 3rem;
	/* this centers the text inside the background color/border */
	padding: 1.4rem 4rem;
	width: 19rem;
	height: 5rem;
	text-transform: uppercase;
	display: inline-block;
	margin: 1rem;
}

#about-us a:hover {
	background-color: #fb2d2d;
}
/* div that the truck images are in */
#about-us-images{
	width: 55.5rem;
	float: right
;
}

/* target the first image of a truck */
#about-us-images img:nth-of-type(1)  {
	width: 54rem;
	height: 23.7rem;
	object-fit: cover;
	/* The cover value preserves the original aspect ratio, but the image occupies all the available space. */
}

/* targets the top/first image of a truck */
#about-us-images img:nth-of-type(2)  {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
}

/* targets the second image of a truck */
#about-us-images img:nth-of-type(3) {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
}

/* add margin to the top & bottom only of the p tags */
#about-us p {
	margin: 1rem 0;
}

/* Our Team  ============================= */
/* This targets the h3 "OUT TEAM"  */
#our-team {
	/* 80px of margin on the top & bottom, no margin on the left & right */
	margin: 8rem 0;
}

#our-team h3 {
	color: #fff;
	background-color: #bb162b;
	font-size: 3.6rem;
	width: 14rem;
	height: 5.5rem;
	/* this adds a curve to the top right corner of the border */
	border-radius: 0 2rem 0 0;
	padding: .5rem;
	margin-bottom: 1rem;
}

/* adding the underline design */
#our-team h3::after{
	content: "";
	text-decoration: underline;
	width: 8rem;
	height: .2rem;
	background-color: #bb162b;
	color: #000;
	margin: 2rem auto 1rem;
}

#our-team p {
	max-width: 54rem;
}

section {
	border: .2rem solid #d5d5d5;
	/* width: 25.5rem; */
	width: calc(100%/4 - 2rem);
	height: 35rem;
	margin: 0 1rem;
	text-align: center;
	float: left;
	/* padding: 3rem 2rem; */
}
/* hover the border around the team member */
section:hover {
	border-color: #bb162b;
}

/* targets the first p element(their name) in each article */
section p:nth-of-type(1) {
	font-size: 2rem;
	width: fit-content;
	margin: auto;
	font-family: 'Staatliches', cursive;
	text-transform: uppercase;
}
section p:nth-of-type(1):hover {
	color: #fb2d2d;
}

/* this will target the image immidiately proceeding a p tag */
#our-team p + img {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
}
/* social media list for each member */
#our-team section li{
	display: inline-block;
	padding: .5rem;
}
/* social media image */
#our-team section ul li img {
	width: auto;
	height: 2.4rem;
}

/* hover over the social media image */
#our-team section ul li img:hover {
	color: #fb2d2d;
}






/*=============== FOOTER =========================================================================*/
footer {
	color: #fff;
	background-color: #000;
	height: 45rem;
}
/* ===== ABOUT US DIV ===== */
#about-us-footer{
	height: 28.5rem;
	width: 28.9rem;
	float: left;
}
/* About Us Icons */
#about-us-footer img{
	height: 2rem;
	width: auto;
}
/* make this a class */
#our-services{
	height: 28.5rem;
	width: 28.9rem;
	float: left;
}

/* Latest Updates ============ */
#latest-updates{
	height: 28.5rem;
	width: 28.9rem;
	float: left;
}
/* Latest Updates */
footer ul:nth-of-type(2) li {
	padding: 1.7rem;
}
/* truck images */
footer img {
	/* make the width & height 80px */
	width: 8rem;
	height: 8rem;
	/* this will center the image keeping it from distorting */
	object-fit: cover;
}

/* Connect With Us */
#connect-with-us{
	height: 28.5rem;
	width: 28.9rem;
	float: right;
}

footer input {
	width: 21rem;
	height: 4rem;
	border: .2rem solid #bb162b;
}

footer button {
	width: 3.8rem;
	height: 4rem;
	background-color: #bb162b;
	color: #fff;
	border: none;
	font-size: 1.6rem;
	border-radius: 0 2rem 2rem 0;
}
form img {
	width: auto;
	height: 2.4rem;
}

::placeholder {
	padding-left: 1rem;
}

/* Social Media List */
#connect-with-us li {
	display: inline-block;
	border: .2rem solid #fff;
	/* this makes the border a circle */
	width: 3.5rem;
	height: 3.5rem;
	margin: .2rem;
	/* this centers the icons inside the border */
	text-align: center;
	padding: .6rem 0;
}

/* social media icons in the footer */
#connect-with-us img{	
	height: 1.8rem;
	width: auto;
}
#connect-with-us li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/*======== Copyright Section ==================== */
#copyright {
	color: #fff;
	background-color: #bb162b;
	height: 5rem;
	text-align: center;
}


/* Add box model styling using the appropriate CSS properties (max-width, padding, border, margin, display, etc.). */

/* The About Page for the following link: 
http://www.templatemonsterpreview.com/demo/217151.html?_gl=1*19cyk4e*_ga*NzM5NjQwNTYyLjE2NDM2ODU5ODM.*_ga_FTPYEGT5LY*MTY0NDU0NjE4NC4yNi4xLjE2NDQ1NTAxMTAuNDY.&_ga=2.174379938.1250986273.1644449150-739640562.1643685983  */