/* COLORS
firebrick(red): #bb162b #c13
crimson: #fb2d2d #f33
whitesmoke: #f5f5f5 #fff
white: #fff
black #000
dark gray #838383
*/

/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Staatliches&display=swap');

/* CSS Reset =========================== */
body,
nav,
main,
section,
footer,
article,
form,
button,
textarea,
button,
input,
h1,
h2,
h3,
p,
a,
time,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ================= */
html {
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #000;
	font: 1.4rem/1.6 'Open Sans', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Staatliches', cursive;
}

h1,
h2 {
	font-size: 5rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

/* Default Structure =================== */
.wrapper {
	margin: 0 auto;
	width: 111rem;
}

a,
button {
	cursor: pointer;
}

/* CLEAR FLOATS =============================================================== */
/* Clear The Floats */
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

/* Header =============================================================== */
/* Social Media  ======================*/
#social-media {
	background-color: #bb162b;
	height: 5.6rem;
}

#social-media ul {
	padding: .5rem 0 0 0;
}

#social-media li {
	display: inline-block;
	border: .2rem solid #fff;
	border-radius: 50%;
	width: 3.4rem;
	height: 3.4rem;
}

/* I tried every way that I could think of and noting seemed to work for my text-indent, I don't know what I am doing wrong */
#social-media ul li a {
	/* the color works */
	color: blue;
	/* the text-indent does not work */
	text-indent: -9999px;
}

#social-media ul li:nth-of-type(1) a {
	background: url("../images/facebook.png") no-repeat;
	background-repeat: no-repeat;
	background-size: 2rem;
	text-indent: -9999px;
}

#social-media ul li:nth-of-type(2) a {
	background: url("../images/twitter.png") no-repeat;
	background-repeat: no-repeat;
	background-size: 2rem;
}

#social-media ul li:nth-of-type(3) a {
	background: url("../images/instagram.png") no-repeat;
	background-repeat: no-repeat;
	background-size: 2rem;
}

#social-media ul li:nth-of-type(4) a {
	background: url("../images/linkedin.png") no-repeat;
	background-repeat: no-repeat;
	background-size: 2rem;
}

/* hover social media icons */
#social-media li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/* This targets the first anchor tag following the ul (Booking Now) */
#social-media ul+a {
	color: #fff;
	background-color: #fb2d2d;
	width: 15rem;
	height: 5.6rem;
	float: right;
	text-align: center;
	font-weight: 600;
	padding: 1.4rem;
	/* this put the Booking Now back inline with the social media list */
	margin: -4.1rem 0 0 0;
}

/* Logo: "Yoauto"  ===================================== */
#logo {
	background-color: #f5f5f5;
	text-align: center;
}

/* Navigation Bar */
/* center the elements inside the nav */
nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	padding: 1rem 2rem;
}

/* nav bar hover decoration */
nav ul li:hover {
	text-decoration: solid underline #bb162b;
}

/* Breadcrumb  */
#breadcrumb {
	background: url("../images/about-us.jpg") center no-repeat;
	color: #fff;
	height: 24.5rem;
}

/* added padding to push the content to the middle */
#breadcrumb h2 {
	padding: 6rem 0 0 0;
}

/* Home / About */
#breadcrumb li {
	display: inline-block;
	font-size: 1.6rem;
}

/* "About" */
#breadcrumb li:nth-last-of-type(1) {
	color: #bb162b;
}

/* Hover over Home in the breadcrumb */
#breadcrumb li:nth-of-type(1):hover {
	color: #fb2d2d;
}

/* Adds the "/" between Home & About */
#breadcrumb ol li:nth-child(1):after {
	content: "/";
	padding-left: .5rem;
	color: #fff;
}

/* MAIN =========================================================================================== */
main {
	margin: 0 auto;
	width: 111rem;
	margin: 8rem auto;
}

#about-us {
	width: 55.5rem;
	float: left;
}

#about-us h3 {
	color: #fff;
	background-color: #bb162b;
	font-size: 2.5rem;
	width: 10rem;
	height: 4rem;
	text-align: center;
	border-radius: 0 2rem 0 0;
	padding: .5rem;
}

#about-us a {
	color: #fff;
	background-color: #bb162b;
	border-radius: 3rem;
	padding: 1.4rem 4rem;
	width: 19rem;
	height: 5rem;
	text-transform: uppercase;
	display: inline-block;
	margin: 1rem;
}

#about-us a:hover {
	background-color: #fb2d2d;
}

/* div that the truck images are in */
#about-us-images {
	width: 55.5rem;
	float: right;
}

/* target the first image of a truck */
#about-us-images img:nth-of-type(1) {
	width: 54rem;
	height: 23.7rem;
	object-fit: cover;
	margin: 0 0 1rem 0;
	padding: 0 0 0 1.4rem;
}

/* targets the top/first image of a truck */
#about-us-images img:nth-of-type(2) {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
	margin: 0 0 0 1.5rem;
	float: left;
}

/* targets the second image of a truck */
#about-us-images img:nth-of-type(3) {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
	float: right;
}

/*===============================================================================================*/

/* add margin to the top & bottom only of the p tags */
#about-us p {
	margin: 1rem 0;
}

/* Our Team  ============================= */
/* This targets the h3 "OUR TEAM"  */
#our-team {
	margin: 8rem 0;
	padding: 1rem;
	width: 114rem;
}

#our-team-header {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

#our-team h3 {
	color: #fff;
	background-color: #bb162b;
	font-size: 3.6rem;
	width: 14rem;
	height: 5.5rem;
	border-radius: 0 2rem 0 0;
	padding: 0 0 0 .7rem;
	margin: 0 auto 2rem;
}

#our-team h3+p {
	color: #838383;
	padding: 0 0 5rem 0;
	text-align: center;
	max-width: 54rem;
	margin: 0 auto;
}

#our-team section {
	text-align: center;
	border: .2rem solid #d5d5d5;
	width: calc(100%/4 - 2rem);
	margin: 0 1rem;
	float: left;
	overflow: auto;
}

/* hover the border around the team member */
#our-team section:hover {
	border-color: #bb162b;
}

/* targets the first p element(team member's name) in each article */
#our-team section p:nth-of-type(1) {
	font-size: 2rem;
	width: fit-content;
	margin: 3.5rem auto 2.5rem;
	font-family: 'Staatliches', cursive;
	text-transform: uppercase;
}

#our-team section p:nth-of-type(1):hover {
	color: #fb2d2d;
}

/* this will target the image immidiately proceeding a p tag (team member's picture) */
#our-team p+img {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
}

/* Team Member's Title */
#our-team img+p {
	padding: .5rem 0 1.4rem;
}

/* social media list for each member */
#our-team section li {
	display: inline-block;
	padding: .5rem;
}

#our-team ul {
	padding: 0 0 2.5rem 0;
}

#our-team section ul li a {
	text-indent: -9999px;
}

#our-team section ul li:nth-of-type(1) a {
	background: url("../images/youtube-firebrick.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(2) a {
	background: url("../images/linkedin-firebrick.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(3) a {
	background: url("../images/facebook-firebrick.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(4) a {
	background: url("../images/twitter-firebrick.png") no-repeat;
	background-size: 2rem;
}


/* hover over the social media image */
#our-team section ul li:nth-of-type(1) a:hover {
	background: url("../images/youtube-crimson.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(2) a:hover {
	background: url("../images/linkedin-crimson.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(3) a:hover {
	background: url("../images/facebook-crimson.png") no-repeat;
	background-size: 2rem;
}

#our-team section ul li:nth-of-type(4) a:hover {
	background: url("../images/twitter-crimson.png") no-repeat;
	background-size: 2rem;
}

/*=============== Contact Main =========================================================================*/
/* Contact Form =================================*/
#contact-us {
	margin: 8rem 0;
}

#contact-us p {
	width: 54rem;
	color: #838383;
	padding: 2rem 0 4rem 0;

}

#contact-us h3 {
	color: #fff;
	background-color: #bb162b;
	font-size: 3.4rem;
	width: 18rem;
	height: 5.4rem;
	text-align: center;
	border-radius: 0 2rem 0 0;
	padding: .3rem;
}

.user-input input {
	width: calc(100%/2 - 1rem);
	border: .2rem solid #d0cfcf;
	border-radius: 2rem;
	height: 4rem;
	padding: 0 0 0 1rem;
}

.user-input {
	padding: .8rem 0;
}

/* Targets the second input form in each user-input div */
.user-input input:nth-last-of-type(1) {
	float: right;
}

textarea {
	border: .2rem solid #d0cfcf;
	border-radius: 2rem;
	height: 12.5rem;
	width: 100%;
	padding: 2rem 1.5rem 0 1rem;
	font-family: 'Open Sans', sans-serif;
}

#contact-us button {
	color: #fb2d2d;
	border: .1rem solid #fb2d2d;
	border-radius: 3rem;
	padding: 2rem 4rem;
	background-color: #fff;
	text-transform: uppercase;
}

#contact-us button:hover {
	color: #fff;
	background-color: #fb2d2d;
}

/* Contact Information =====================================================================*/
#contact-info {
	background-color: #f5f5f5;
	padding: 8rem 0 5rem 0;
}

#contact-info section {
	width: calc(100%/3 - 2rem);
	margin: 2rem;
	background-color: #fff;
	text-align: center;
	padding: 2rem 0;
	font-family: 'Staatliches', cursive;
	font-weight: 600;
	font-size: 1.6rem;
	margin: 0 1rem;
	float: left;
	overflow: auto;
}

#contact-info a:hover {
	color: #fb2d2d;
}

/*=============== FOOTER =========================================================================*/
footer {
	color: #fff;
	background-color: #000;
	height: 50rem;
	float: left;
	/* FLOAT =============================================================== */
	width: 100%;
	padding: 8rem 0 0 0;
}

footer section {
	width: calc(100%/4 - 2rem);
	float: left;
	overflow: auto;
}

footer h3 {
	padding: 0 0 2rem 0;
}

/* ===== ABOUT US ===== */
/* About Us Icons */
#about-us-footer img {
	height: 2rem;
	width: auto;
	float: left;
}

dt {
	font-weight: 800;
	display: inline;
	padding: 0 0 0 1rem;
}

dd {
	max-width: 20rem;
	padding: 0 0 2rem 3rem;
}

/* Our Services ===============*/
#our-services ul li {
	margin: 0 0 2rem 0;
}

/* Latest Updates ============================================================ */
/* truck images */
#latest-updates img {
	width: 8rem;
	height: 8rem;
	object-fit: cover;
}

/* Connect With Us ==============*/
form {
	margin: 0 0 2rem 0;
}

#connect-with-us img {
	height: 2rem;
	width: auto;
}

footer input {
	width: 21rem;
	height: 4rem;
	border: .2rem solid #bb162b;
	float: left;
}

footer button {
	width: 3.8rem;
	height: 4rem;
	background-color: #bb162b;
	color: #fff;
	border: none;
	border-radius: 0 2rem 2rem 0;
}

::placeholder {
	padding: 0 0 0 1rem;
}

/* Social Media List */
#connect-with-us li {
	display: inline-block;
	border: .2rem solid #fff;
	width: 3rem;
	height: 3rem;
	margin: .2rem;
	text-align: center;
	padding: .6rem 0;
}

#connect-with-us a {
	/* the color works */
	color: black;
	/* the text-indent does not work */
	text-indent: -9999px;
}

/* social media icons in the footer */
#connect-with-us ul li:nth-of-type(1) a {
	background: url("../images/facebook.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us ul li:nth-of-type(2) a {
	background: url("../images/twitter.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us ul li:nth-of-type(3) a {
	background: url("../images/instagram.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us ul li:nth-of-type(4) a {
	background: url("../images/linkedin.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us ul li:nth-of-type(5) a {
	background: url("../images/pinterest.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us ul li:nth-of-type(6) a {
	background: url("../images/google-plus.png") no-repeat;
	background-size: 1.8rem;
}

#connect-with-us li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/*======== Copyright Section ==================== */
#copyright {
	color: #fff;
	background-color: #bb162b;
	text-align: center;
	margin: 3rem 0 0 0;
}

#copyright p {
	padding: 2.2rem 0;
}

/* Add box model styling using the appropriate CSS properties (max-width, padding, border, margin, display, etc.). */

/* The About Page for the following link: 
http://www.templatemonsterpreview.com/demo/217151.html?_gl=1*19cyk4e*_ga*NzM5NjQwNTYyLjE2NDM2ODU5ODM.*_ga_FTPYEGT5LY*MTY0NDU0NjE4NC4yNi4xLjE2NDQ1NTAxMTAuNDY.&_ga=2.174379938.1250986273.1644449150-739640562.1643685983  */