/* COLORS
firebrick(red): #bb162b #c13
crimson: #fb2d2d #f33
whitesmoke: #f5f5f5 #fff
white: #fff
black #000
*/

/* Google Fonts ======================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

/* CSS Reset =========================== */
body,nav,main,section,footer,article,figcaption,form,figure,button,input,h1,h2,h3,p,a,time,ul,ol,li,dl,dt,dd {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;
}

/* Typography Defaults ================= */
html {
	font-size: 62.5%;
	color: #000;
}

body {
	background-color: #fff;
	font-size: 1.4rem;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Staatliches', cursive;	
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 5rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 2rem;
	width: fit-content;
	margin: auto;
}

h5:hover {
	color: #fb2d2d;
}

/* Default Structure =================== */
a, button{
	cursor: pointer;
}

/* Header ============================== */
/* Social Media Section */
#social-media {
	background-color: #bb162b;
}

#social-media li {
	display: inline-block;
	color: #fff;
	background-color: #bb162b;
	border: .2rem solid #fff;
	/* this makes the border a circle */
	border-radius: 50%;	
	width: 3.5rem;
	height: 3.5rem;
	font-size: 1.8rem;
	margin: .5rem;
	/* this centers the icons inside their containers/borders */
	text-align: center;	
}

#social-media li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/* This targets the first anchor tag following the ul (Booking Now) */
header ul+a:nth-last-of-type(1) {
	color: #fff;
	background-color: #fb2d2d;
	float: right;
}

/* Logo section */
#logo {
	background-color: #f5f5f5;
	font-family: 'Staatliches', cursive;
	font-size: 5rem;
}

/* Navigation Bar */
nav ul li {
	display: inline-block;
	padding: 1rem 2rem;
}

/* Breadcrumb Section */
#breadcrumb {
	background-image: url(https://images.unsplash.com/photo-1590504805643-bb1f94cde7fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #fff;
	height: 24.5rem;
}

#breadcrumb li {
	display: inline-block;
}

#breadcrumb li:nth-last-of-type(1) {
	color: #bb162b;
}

#breadcrumb li:nth-of-type(1):hover {
	color: #fb2d2d;
}

/* Breadcrumb */
#breadcrumb ol li {
	font-size: 1.6rem;
	color: #fff;
}

#breadcrumb ol li:nth-child(1):after {
	content: "/";
	padding-left: .5rem;
	color: #fff;
}

/* About Us============================= */
main {
	margin: 8rem 0;	
}

main h3 {
	color: #fff;
	background-color: #bb162b;
	width: 10rem;
	height: 4rem;
	padding: .1rem 1rem;
	text-align: center;
	/* this adds a curve to the top right corner of the border */
	border-radius: 0 2rem 0 0;	
}

main a {
	color: #fff;
	background-color: #bb162b;
	border-radius: 3rem;
	padding: 1.2rem 4rem;
	width: 19rem;
	height: 5rem;
	text-transform: uppercase;
	display: inline-block;
	margin: 1rem;
}

main a:hover {
	background-color: #fb2d2d;
}
main figure {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

main ul li:nth-of-type(1) img {
	width: 54rem;
	height: 23.7rem;
	object-fit: cover;
	/* The cover value preserves the original aspect ratio, but the image occupies all the available space. */
}

/* targets the top/first image of a truck */
main ul li:nth-of-type(2) img {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
}
/* targets the second image of a truck */
main ul li:nth-of-type(3) img {
	width: 25.5rem;
	height: 23.6rem;
	object-fit: cover;
}

/* Our Team  ============================= */
/* This targets the h3 "OUT TEAM"  */
#our-team {
	/* 80px of margin on the top & bottom, no margin on the left & right */
	margin: 8rem 0;	
}

#our-team h4 {
	text-align: center;
	font-size: 3.6rem;
	color: #fff;
	background-color: #bb162b;
	width: 14rem;
	height: 5.5rem;
	border-radius: 0px 2.5rem 0px 0px;
}

hr {
	height: 2px;
	background-color: #bb162b;
	border: none;
	width: 8rem;
}

#our-team figure {
	border: .2rem solid #d5d5d5;
	width: 25.5rem;
	height: 35rem;
	text-align: center;
	/* this puts the figures side by side instead of stacked */
	display: inline-block;
}

#our-team figure:hover {
	border-color: #bb162b;
}

#our-team figure h5 {
	padding-top: 4rem;
	padding-bottom: 3rem;
}

#our-team figure img {
	border-radius: 50%;
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	padding-bottom: 2rem;
}

#our-team figure li {
	color: #bb162b;
	font-size: 2.4rem;
	display: inline-block;
	/* this will make the social media icons horizontol  */
	padding: .5rem;
}

#our-team figure li:hover {
	color: #fb2d2d;
}

/* Footer ============================== */
footer {
	color: #fff;
	background-color: #000;
}

/* Latest Updates */
footer ul:nth-of-type(2) li {
	padding: 1.7rem;

}

footer img {
	/* make the width & height 80px */
	width: 8rem;
	height: 8rem;
	/* this will center the image keeping it from distorting */
	object-fit: cover;	
}

/* Connect With Us */
footer input {
	width: 21rem;
	height: 4rem;
	border: .2rem solid #bb162b;
}

footer button {
	width: 3.8rem;
	height: 4rem;
	background-color: #bb162b;
	color: #fff;
	border: none;
	font-size: 1.6rem;
	border-radius: 0 2rem 2rem 0;
}

::placeholder {
	padding-left: 1rem;
}

/* Social Media List */

#social-media-footer li {
	display: inline-block;
	color: #fff;
	background-color: #000;
	border: .2rem solid #fff;
	/* this makes the border a circle */
	width: 3.5rem;
	height: 3.5rem;
	font-size: 1.8rem;
	margin: .5rem;
	text-align: center;
}

#social-media-footer li:hover {
	background-color: #fb2d2d;
	border-color: #fb2d2d;
}

/* Copyright Section */
#copyright {
	color: #fff;
	background-color: #bb162b;
	height: 5rem;
	text-align: center;
}



/* The About Page for the following link: 
http://www.templatemonsterpreview.com/demo/217151.html?_gl=1*19cyk4e*_ga*NzM5NjQwNTYyLjE2NDM2ODU5ODM.*_ga_FTPYEGT5LY*MTY0NDU0NjE4NC4yNi4xLjE2NDQ1NTAxMTAuNDY.&_ga=2.174379938.1250986273.1644449150-739640562.1643685983  */